@use "../../assets/sass/Styles.scss" as *;

.card {
    border: 1px solid black;
    position: relative;
    height: 400px;
    margin: 20px;

    background-color: rgb(94, 8, 8 , 0.5);
    color: $main-color;
    font-family: $main-font;

    &__img {
        position: absolute;
        width: 30%;
        height: 90%;
        left: 1%;
        top: 5%;
    }
    &__name {
        position: absolute;
        left: 35%;

        font-size: 25px;
    }
    &__tagline {
        position: absolute;
        left: 35%;
        top: 20%;
    }
    &__firstbrewed {
        position: absolute;
        left: 35%;
        top: 25%;
    }

    &__description {
        position: absolute;
        height: 59%;
        left: 35%;
        top: 40%;
        text-align: center;

        overflow-y: auto;
    }
}